@import "../styles/var.scss";


.result {

    text-align: center;

    h3 {
        font-size: 24px; 
    }

    input {
        font-size: 16px; 
        padding: 10px; 
        border: 1px solid $accent; 
        border-radius: 5px; 
        outline: none; 
        color: $foreground; 
        transition: border-color 0.3s ease; 
        margin-right: 15px;

        &:focus {
            border-color: $primary; 
        }
    }

    p {
        font-size: 16px;
        font-weight: 500;

        span {
            color: $primary;
            font-size: 22px;
        }
    }

   footer {
    margin-top: 15px;
    font-style: italic;
    justify-content: center;
    align-items: center;
    font-size: 7;
   }



    table {
        width: 80%;
        max-width: 600px;
        text-align: left;
        margin: 50px auto 20px;
        border-collapse: collapse;

    }

    tr {
        border: 1px solid;
    }

    @media screen and (max-width: 600px) {
        .result {
            table {
                width: 90%;
            }
        }
    }
}


